/* * {
    outline: 1px solid red;
} */

.container-fluid {
    background-color: #333;
    color:#ccc;
}

main>div, .card {
    border: 1px solid grey;;
}

main div ul li {
    margin-top: 1em;
    list-style: none;
}

main div ul li img {
    width: 20px;
    border-radius: .5em;
}

main div:nth-child(1) div:nth-child(3) button {
    width:40%;
}

main div:nth-child(2) div:nth-child(1) button {
    width: 70%;
}

.card-title img {
    width:25px;
    border-radius: .5em;
}

.green {
    color: green;
}

.grey {
    color: grey;
}

.yellow {
    color: yellow;
}

.trending {
    margin-top: 1em;
}

.topics {
    margin-top: 1em;
}

.font_title {
    font-size: 2.3em;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.colorfull {
    background: linear-gradient(to right, purple, blue, #AA0044);
    margin: .5em;
    border-radius: 1em;
}

.tickets {
    width:100%;
    border-radius: .5em;
}

.learn {
    border-radius: 1em;
    margin: 1em 0;
    background: linear-gradient(to right, black, darkgreen);
}

main div:nth-child(3) div:nth-child(3) h5 {
    margin-top:1em;
}

.list_changes li {
    list-style: disc;
    margin-left: 1em;
}

nav {
    padding: 1em;
}

nav input {
    width: 90%;
}

nav img {
    width:2.5em;
    border-radius: 1em;
}

.functions i {
    margin-right: .5em;
}